In [7]:
%load_ext autoreload
%autoreload 1

import sys
sys.path.append('../juperset')

import pandas as pd

%aimport juperset

## Create instance of Juperset object

In [15]:
js = juperset.Juperset('sqlite:///data/test.db')

## Create dataframe, commit to db, and read back out

In [16]:
df = pd.DataFrame(data=[[1,2,3], [4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [17]:
js.commit_dataframe(df, 'test')

In [18]:
pd.read_sql('select * from test', con=js.engine)

   0  1  2
0  1  2  3
1  4  5  6

## Create second dataframe, commit to same table, and read back out

In [19]:
df2 = pd.DataFrame(data=[['a', 'b'], ['c', 'd']])

In [20]:
js.commit_dataframe(df2, 'test')

In [21]:
pd.read_sql('select * from test', con=js.engine)

   0  1
0  a  b
1  c  d